
@model ExpenseDeleteViewModel



<strong> Are you sure you want to delete this? @Model.Description of €@Model.Amount on @Model.Date?</strong>



<form asp-controller="Expense" asp-action="ConfirmDelete" method="post" asp-route-id="@Model.Id">

    <button class=" btn-dark" type="submit">Yes</button>

</form>

<a asp-controller="Expense" asp-action="Index">Back to index</a>